run-name: Run scraper daily
on:
  schedule:
    - cron: "0 18 * * *"
  workflow_dispatch:

jobs:
  schedule-job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo content
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12.4

      - name: install deps
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4

      - name: run tokyodev scraper
        run: |
          python TokyoDevScraper.py

      - name: run japandev scraper
        run: |
          python JapanDevScraper.py

      - name: save results of the scrapers
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add TokyoDevJobs.json JapanDevJobs.json
          git commit -m "Update job listings" || echo "No changes to commit"
          git push
